<div class='container-2'>
   <div class='photo'>
 <img image_tag ="<%= @user.photo%>", style='height:50px; width: 40px ;margin-bottom:20px;' >
   </div>
   <div class='info'>
      <h2><%= @user.name%>
     <p><strong>Number of Posts:</strong><span> <%= @user.posts_counter%></span></p>
   </div>
   <div class='bio'>
      <h1>Bio</h1>
      <p><%= @user.bio%></p>
   </div>
   <% posts = @user.posts%>
   <% posts.each do |post|%>
   <div>
     <h1><%= post.title%></h1>
     <p><%= post.text%></p>
   </div>
   <%end%>
    <button><%= link_to "Show All Posts", user_posts_path(@user)%></button>
</div>

