<!DOCTYPE html>
<html>
<head>
  <title>User <%= params[:id] %></title>
  <%= stylesheet_link_tag "styles" %>
</head>
<body>
  <div class="container">
  <div id="user_info">
    <div class="user_image">
      <% if @user.photo %>
        <img src=<%= @user.photo %> alt="User Photo">
      <% else %>
        <img src="no_pic.png" alt="User Photo">
      <% end %>
    </div>
    <div id="user_name_and_posts">
      <h1><%= @user.name %></h1>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div id="bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </div>
  <div id="posts">
    <% @posts.each do |post| %>
    <a href=<%= user_post_path(@user.id, post.id) %>>
      <div class="post">
        <h3><%= post.title %></h3>
        <p class="cropped-text"><%= post.text %></p>
        <span>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
      </div>
    </a>
    <% end %>
  </div>
  <a href=<%= user_posts_path(@user.id) %>>
    <button>See all posts</button>
  </a>
  </div>
</body>
</html>