<!DOCTYPE html>
<html>
<head>
  <title>Posts from user 1</title>
</head>
<body>
  <div id="user_info">
    <div id="user_image">
      <% if @user.photo %>
        <img src=<%= @user.photo %> alt="User Photo">
      <% else %>
        <img src="no_pic.png" alt="User Photo">
      <% end %>
    </div>
    <div id="user_name_and_posts">
      <h1><%= @user.name %></h1>
      <p>Number of posts: <%= @user.posts_counter %></p>
    </div>
  </div>
  <div id="user_posts">
    <% @posts.each do |post| %>
      <a href=<%= user_post_path(post.author_id, post.id) %>>
      <div class="user_post">
        <div class="post">
          <h3><%= post.title %></h3>
          <p maxlength="150"><%= post.text %></p>
          <span>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
        </div>
        <div class="comments">
          <% if post.comments.length>=1 %>
          <% post.comments.each do |comment| %>
            <div class="comment">
              <p><%= comment.user.name %>: <%= comment.text %></p>
            </div>
          <% end %>
          <% else %>
            <p class="nocomments">No comments yet</p>
          <% end %>
        </div>
      </div>
      </a>
    <% end %>
  </div>
    <button>Pagination</button>
</body>
</html>