 <main>
 <div class=container>  
 <div class="user-show-info-container">
   <div class='photo'>
 <img image_tag ="<%= @user.photo%>", style='height:50px; width: 40px ;margin-bottom:20px;' >
   </div>
   <div class='info'>
      <h1><%=@user.name%></h1>
     <p><strong>Number of Posts:</strong><span> <%= @user.posts_counter%></span></p>
   </div>
</div>
   <div class="posts-container">
      <% @posts.each do |post|%>
      <div>
        <a href=<%= "posts/#{post.id}" %>>
      <h1><%= post.title%></h1>
      </a>
          <p><%= post.text%></p>
          <div class="likes-comments">
            <p>Likes: <%= post.likes_counter%>, </p>
            <p>Comments: <%= post.comments_counter%></p>
          </div>  
      </div>
        
      <%end%>
   </div>
     <div class="comments">
          <% if @comments.length>=1 %>
          <% @comments.each do |comment| %>
            <div class="comment">
              <p>Comments:</p>
              <p><%= comment[:user] %>: <%= comment[:comment] %></p>
            </div>
          <% end %>
          <% else %>
            <p class="nocomments">No comments yet</p>
          <% end %>
        </div>
          <button>Pagination</button>
  </div>

  </main>